#inicio{
    background:url('../img/fondo.png') center no-repeat;
    background-size: 100% 100%; 
    height: 53%;
    opacity: 0.30;
}

/*img {
  background:transparent url(../img/cargando.gif) center no-repeat;
  }*/
  
  .precarga {
    background:transparent url(../img/loading.gif) center no-repeat;
    
 }
/*------------------VENTANA MODAL----------------------*/

h3 {
    position: absolute;
    color: #FFF;
    padding-left: 10px;
    margin-top: 5px;
}

h4 {
    position: absolute;
    color: #FFF;
    font-family: sans-serif;
    font-size: 22px;
    padding-left: 10px;
    float: left;
    line-height: 25px;
}

.fondo_opaco{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index:1001;
    opacity:.50;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
}

.cuadro_acumulado {
    float: left; 
    width: 30%; 
    height: 21%; 
    margin: 4px; 
    border-radius: 5px;
}

.cuadro_acumulado_small {
    float: left; 
    width: 45%; 
    height: 13%; 
    margin: 4px; 
    border-radius: 5px;
    background-color: #4D4D4D;
}

.div_cuadro_acumulado {
    margin: 30px;
    float: right; 
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
}

.cuadro_acumulado h4 {
    font-size: 16px;
    margin: 0;
}

.div_cuadro_acumulado_small {
    float: right; 
    margin: 20px;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
}

.label_cuadro_acumulado_small {
    float: left; 
    margin: 5px;
    font-size: 13px;
    color: #FFF;
    font-weight: bold;
}

.label_cuadro_titulo {
    float: left; 
    font-size: 18px; 
    color: #FFF; 
    font-weight: bold;
    text-align: center; 
    width: 90%; 
    padding: 10px;
    background-color: #4D4D4D;
    border-radius: 5px;
}

#encabezado{
        background-image:url(../img/encabezado.png);
        /*background-size: 100%;*/
        background-size: 100% 100%;
        margin-top: -3.3%;
        background-repeat:no-repeat;
        background-color: #FFFFFF;
        height:100px;
        width:100%;
        position:relative;
}

.ventana_modal{
    display: none;
    position: fixed;
    width:60%;
    height:auto;
    top: 3%;
    padding: 2em 3em;
    left: 17%;
    margin-right:0;
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}
.imagen_cerrar_modal {
    position:relative;
    top:-29px;
    left:42px;
    width:30px;
    height:30px;
    border-bottom: 2px solid;
    border-left:  2px solid;
    border-color:#424242;
    border-bottom-left-radius: 10px;
    
}

.ventana_modal_metas{
    display: none;
    position: fixed;
    width: auto;
    height:auto;
    top: 15%;
    padding: 2em 3em;
    left: 40%;
    margin-right:0;
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}

.ventana_modal_fomu{
    display: none;
    position: fixed;
    width: auto;
    height:auto;
    top: 20%;
    padding: 2em 3em;
    left: 30%;
    margin-right:0;
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}
.ventana_modal_ejecu_metas{
    display: none;
    position: fixed;
    width: auto;
    height:auto;
    top: 20%;
    padding: 2em 3em;
    left: 20%;
    margin-right:0;
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}

/*END VENTANA MODAL*/


.sub_titulo {
	margin-bottom:40px;
	text-align:center;
	font-weight: bold; 
	font-size:18px;
	font-family: arial;
	color: #6E6E6E;
	position: relative;
	top:20px;
	left:20px;
        width: auto;
        height:auto;
}
.divcorners{
    background: #ededed; 
    border: #E4E4E4 1px solid; 
    height: auto;
    width: auto;
    padding: 5px;
    /*para Firefox*/
    -moz-border-radius: 5px 5px 5px 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px 5px 5px 5px;
    /* para Opera */
    border-radius: 5px 5px 5px 5px;
    
}
.divoculto{
    background: #fff; 
    margin: 0 -8 -3 -8;
}
.divscroll
{
   width: auto; 
   height: 380px; 
   overflow-y: scroll;
} 

.verde {
    border-left: 5px solid #90C693;
    background-color: #ECF4ED;
    padding: 10px;
    color: #577759;
    cursor: pointer;
    }

.amarillo {
    border-left: 5px solid #E9EB00;
    background-color: #FDFEE7;
    padding: 10px;
    color: #A6A70C;
    cursor: pointer;
}

.rojo {
    border-left: 5px solid #C69190;
    background-color: #F2E9E9;
    padding: 10px;
    color: #9B5150;
    cursor: pointer;
}

.divfuentes{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
}

.encabezado_table_danger{
    background-color: #f2dede;
    border-color: #ebccd1; 
    color: #a94442;
}

.fecha_actu{
    margin-left: 81%;
    margin-top: -4%;
}

.archivo_descargar{
   margin-left: 84%;
   margin-top: -6%;
   margin-bottom: 9%;
}