/*URL: http://www.dynamicdrive.com/style/*/ 

.halfmoon{
margin-bottom: 1em;

}

.halfmoon ul{
padding: 3px 9px 2px 5px;
margin-left: 0;
margin-top: 10px;
margin-bottom: 0;
font: bold 1px arial;
list-style-type: none;
text-align: left; 
border-bottom: 1px solid #929492;
}

.halfmoon li{
display: inline;
margin: 0;
}

.halfmoon li a{
	text-decoration: none;
	background-color:#E7E7E7; 
	padding: 3px 9px 2px 5px;
	margin-top:0px;
	margin-bottom: 0px;
	margin-right: 5px; //distance between each tab
	border-left: 5px solid #DDD;
	color: black;
	font-size: 12px;
	-webkit-border-radius: 5px 5px;  // Safari  
	-moz-border-radius: 5px 5px;     // Firefox 
	-moz-box-shadow: 1px 2px 3px #000000;
	-webkit-box-shadow: 1px 2px 3px #000000;
	box-shadow: 1px 2px 3px #000000; 
}

.halfmoon li a:visited{
color: black;
}

.halfmoon li a:active{
background-color: #CDDADA;
color: navy;
}

.halfmoon li a:hover{
color: navy;
font: bold 16px arial;
 /*Efecto de sombreado animado*/
	border-radius: 3px;
	position: relative;
	opacity: 0.85;
	-moz-box-shadow: 2px 3px 6px #000000;
	-webkit-box-shadow: 2px 3px 6px #000000;
	box-shadow: 2px 3px 6px #000000;
	-webkit-transform: translate(0,-3px);
	-moz-transform: translate(0,-3px);
	-o-transform: translate(0,-3px);
	-moz-transition: -moz-transform .2s ease-in;
	-o-transition: -o-transform .2s ease-in;
	-webkit-transition: -webkit-transform .2s ease-in; 
/*fin efecto*/
}

.divSolapa {
	border: 0px solid; 
	height:auto;
	position:relative;
	top:10px;
	left:auto;
	margin-top:0px;
	min-height:10px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
        clear: both;
}

#botones_solapa{
	position:relative;
	top:0px;
	left:520px;
}

.HabilitarBoton {
	opacity: 10;
	background:#BA3131;
	border:#073100;
	border-radius: 2px;
	color:#fff;
    	margin-right: 8px; 
   	/*Efectos de agrandado //transform de botom solo funcionan en opera, mozilla, chrome y zafari*/
    	-moz-transform: scale(1);
    	-webkit-transform: scale(1);
    	-o-transform: scale(1);
    	-moz-transition: -moz-transform .3s ease-in;
	-o-transition: -o-transform .3s ease-in;
	-webkit-transition: -webkit-transform .3s ease-in;
	-moz-box-shadow: 1px 2px 3px #000000;
	-webkit-box-shadow: 1px 2px 3px #000000;
	box-shadow: 1px 2px 3px #000000; 
}


.HabilitarBoton input[type="button"]:hover{
	opacity: 10;
	background:#BA3131;
	border:#861616;
	color:#fff;
    	border-radius: 2px;
    	-moz-transform: scale(1.15);
  	-webkit-transform: scale(1.15);
    	-o-transform: scale(1.15);
    	-moz-transition: -moz-transform .125s ease-in;
	-o-transition: -o-transform .125s ease-in;
	-webkit-transition: -webkit-transform .125s ease-in;
}

.desHabilitarBoton{
	opacity: 0.5;
	background:#BA3131;
	border:#073100;
	border-radius: 2px;
	color:#fff;
   	margin-right: 8px; 
	-moz-box-shadow: 1px 2px 3px #000000;
	-webkit-box-shadow: 1px 2px 3px #000000;
	box-shadow: 1px 2px 3px #000000; 
}



.desHabilitarBoton input[type="button"] {
	opacity: 0.5;
	background:#BA3131;
	border:#073100;
	border-radius: 2px;
	color:#fff;
   	margin-right: 8px; 
	-moz-box-shadow: 1px 2px 3px #000000;
	-webkit-box-shadow: 1px 2px 3px #000000;
	box-shadow: 1px 2px 3px #000000; 
}



/*#breadcrumbs-one{
  border-width: 1px;
  //border-style: solid;
  //border:  1px #444 solid;
  //border-radius: 5px;
  //box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-one li{
  float: left;
  margin-bottom: -2%;
}


#breadcrumbs-one a{
  padding: .7em 1em .7em 2.5em;
  float: left;
  text-decoration: none;
  position: relative;
  text-shadow: 0 1px 0  rgba(255,255,255,.5);
  background-color: #ddd;
  background-image: linear-gradient(to right, #f5f5f5, #ddd);  
}

#breadcrumbs-one li:first-child a{
	text-decoration: none;
        padding-left: 0.5em;
        border-left: 5px solid #DDD;
        border-radius: 1px 0 0 1px;
}

#breadcrumbs-one a:hover{
  background: #f5f5f5;
  font-weight: bold;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.4em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #ddd;  
}
********* DEJA EL BORDER DE LA FLECHA ********
#breadcrumbs-one a::before{
  border-left-color: #ccc;  
  right: -1.1em;
  z-index: 1; 
}
***************OVER DE LA SELECCION****************
#breadcrumbs-one a:hover::after{   
  border-left-color: #f5f5f5;
}
          
#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
  font-weight: bold;
  background: none;
}
***************END OVER DE LA SELECCION****************
#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
    content:  normal;
}*/
